# Core dependencies
fastapi
uvicorn
python-multipart
SQLAlchemy
alembic
psycopg2-binary
redis
holidays
# Data processing and analysis
# Понижаем версию numpy для совместимости с tensorflow
numpy
pandas
scipy
statsmodels

# Machine learning
scikit-learn
prophet
# Обновляем версии tensorflow и keras до совместимых с выбранным numpy
autogluon.timeseries


# Utilities
python-jose[cryptography]
passlib[bcrypt]
python-magic
aiofiles
python-dateutil
requests

# Testing
pytest
pytest-asyncio
httpx